*{
    margin:0;
    padding:0;
}
header{
    
    background-color: rgba(114, 163, 74, 0.726);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
section{
    display: flex;
    align-items: center;
    background-color: rgba(101, 168, 24, 0.342);
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 10px 20px;
}
div{
    padding: 30px;
}