*{
    margin:0;
    padding:0;
}
header{
    background-color: rgba(119, 175, 74, 0.726);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
section{
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    padding: 10px 20px;
}
div{
    padding: 30px;
}