*{
    margin:0;
    padding:0;
}
header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: black;
    color: blue;
    
}
section{
    display: flex;
    align-items: center;
    background-color: rgba(101, 168, 24, 0.342);
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 10px 20px;
}
div{
    padding: 30px;
}